{%include "base.html"%}

{%block content%}
{% load static %}

<div class="flex-row">
    <div class="flex-item flex-column">
        <h2 class="add-top-margin">ALU Experience</h2>
        <hr>
        <p class="text text-large">
            This page gives details about how we heard about ALU, why we wanted to study at ALU, the application process
            and being accepted, moving to ALU to begin studying, meeting other students, classes we have been taking,
            jobs we have worked, advice to prospective students, and a summary of our time at ALU so far.
        </p>
        <br>
        <img class="image center max-width-400 add-top-margin-small" src="{% static 'images/alu.png' %}">
        <br>
    </div>
</div>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Christian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Emmanuel</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Sumeiya</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Benson</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Ian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Tinotenda</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>How I Heard About ALU:</strong> Phasellus viverra nulla<br>
            <strong>Why I Wanted To Study At ALU:</strong> Phasellus viverra nulla<br>
            <strong>Application Process And Being Accepted:</strong> Phasellus viverra nulla<br>
            <strong>Moving To ALU To Begin Studying:</strong> Phasellus viverra nulla<br>
            <strong>Meeting Other Students:</strong> Phasellus viverra nulla<br>
            <strong>Classes I Have Been Taking:</strong> Phasellus viverra nulla<br>
            <strong>Jobs I Have Worked:</strong> Phasellus viverra nulla<br>
            <strong>Advice To Prospective Students:</strong> Phasellus viverra nulla<br>
            <strong>Summary Of My Time At ALU So Far :</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
</div>
</div>
</div>
<br><br><br>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4 class="compony">tatu <br><hr></h4>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'posts' %}">posts</a></li>
                    <li><a href="{% url 'authors' %}">authors</a></li>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>posts <br><hr></h4>
                <ul>
                    <li><a href="{% url 'background' %}">our background</a></li>
                    <li><a href="{% url 'alu' %}">ALU experience</a></li>
                    <li><a href="{% url 'mauritius' %}">mauritius experience</a></li>
                    <li><a href="{% url 'social' %}">social life</a></li>
                    <li><a href="{% url 'career' %}">future ideas and career</a></li>
                    <li><a href="{% url 'pictures' %}">pictures zone</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us <br><hr></h4>
                <div class="social-links">
                    <a href="https://www.github.com/"><i class="fa fa-github"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{%endblock%}