{%include "base.html"%}

{%block content%}
{% load static %}

<div class="flex-row">
    <div class="flex-item flex-column">
        <h2 class="add-top-margin">Our Background</h2>
        <hr>
        <p class="text text-large">
            This page gives personal details about each of us, our countries, hometowns/cities, and where we studied
            before coming to ALU.
        </p>
        <br>
        <img class="image center max-width-400 add-top-margin-small" src="{% static 'images/background.png' %}">
        <br>
    </div>
</div>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Christian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Emmanuel</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Sumeiya</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Benson</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Ian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Tinotenda</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>About:</strong> Phasellus viverra nulla<br>
            <strong>Country:</strong> Phasellus viverra nulla<br>
            <strong>Hometown/City:</strong> Phasellus viverra nulla<br>
            <strong>Previous Educational Institution:</strong> Phasellus viverra nulla<br>
        </p>
    </div>
</div>
<br>
</div>
</div>
</div>
<br><br><br>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4 class="compony">tatu <br><hr></h4>
                <ul>
                    <li><a href="{% url 'home' %}">home</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'posts' %}">posts</a></li>
                    <li><a href="{% url 'authors' %}">authors</a></li>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>posts <br><hr></h4>
                <ul>
                    <li><a href="{% url 'background' %}">our background</a></li>
                    <li><a href="{% url 'alu' %}">ALU experience</a></li>
                    <li><a href="{% url 'mauritius' %}">mauritius experience</a></li>
                    <li><a href="{% url 'social' %}">social life</a></li>
                    <li><a href="{% url 'career' %}">future ideas and career</a></li>
                    <li><a href="{% url 'pictures' %}">pictures zone</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us <br><hr></h4>
                <div class="social-links">
                    <a href="https://www.github.com/"><i class="fa fa-github"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{%endblock%}