{%include "base.html"%}

{%block content%}
{% load static %}

<div class="flex-row">
  <div class="flex-item flex-column full-width">
    <h2 class="add-top-margin">List of Posts</h2>
    <hr>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'background' %}">
      <img class="image max-width-400" src="{% static 'images/background.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'background' %}">Our Background</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'alu' %}">
      <img class="image max-width-400" src="{% static 'images/alu.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'alu' %}">ALU Experience</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'mauritius' %}">
      <img class="image max-width-400" src="{% static 'images/mu.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'mauritius' %}">Mauritius Experience</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'social' %}">
      <img class="image max-width-400" src="{% static 'images/social.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'social' %}">Social Life</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'career' %}">
      <img class="image max-width-400" src="{% static 'images/career.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'career' %}">Future Ideas and Career</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'pictures' %}">
      <img class="image max-width-400" src="{% static 'images/zone.png' %}">
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'pictures' %}">Pictures Zone</a><br>
      Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
      augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
      condimentum rhoncus, sem quam semper libero, sit amet.
    </p>
  </div>
</div>
</div>
</div>
</div>
<br><br><br>
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4 class="compony">tatu <br><hr></h4>
              <ul>
                  <li><a href="{% url 'home' %}">home</a></li>
                  <li><a href="{% url 'about' %}">about</a></li>
                  <li><a href="{% url 'posts' %}">posts</a></li>
                  <li><a href="{% url 'authors' %}">authors</a></li>
                  <li><a href="{% url 'contact' %}">contact</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>posts <br><hr></h4>
              <ul>
                  <li><a href="{% url 'background' %}">our background</a></li>
                  <li><a href="{% url 'alu' %}">ALU experience</a></li>
                  <li><a href="{% url 'mauritius' %}">mauritius experience</a></li>
                  <li><a href="{% url 'social' %}">social life</a></li>
                  <li><a href="{% url 'career' %}">future ideas and career</a></li>
                  <li><a href="{% url 'pictures' %}">pictures zone</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>follow us <br><hr></h4>
              <div class="social-links">
                  <a href="https://www.github.com/"><i class="fa fa-github"></i></a>
                  <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>

{%endblock%}